---
import Layout from "../layouts/Layout.astro";
// import TabsComponent from "../components/TabsComponent";
import Hero from "../components/Hero";

import ProductShowcase from "../components/ProductShowcase.jsx";
import "../fonts/stylesheet.css";

const response = await fetch("https://graphql.datocms.com/", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
  body: JSON.stringify({
    query: `query Homepage {
	    home{
        logo{
          url
          alt
        }
        cta
        link
        subtitle
			  title
			  image {
         		url
          		alt
       	}
        video{
          url
          alt
        }
			}
      allNavlinks(orderBy: linkId_ASC){
        linkId
        title
        slug
      }
      allTabs(orderBy: tabId_ASC){
        tabId
        title
        imageurl
        content
      }
      allProducts(orderBy: _createdAt_ASC) {
        name
        tabImage{
          url
          alt
        }
        description
        imageurl{
          url
          alt
        }
        cleaningcap
        width
        autonomy
      }     
  }
		`,
  }),
});

const json = await response.json();
const data = json.data.home;
const navlinks = json.data.allNavlinks;
const dProducts = json.data.allProducts;

const products = dProducts.map((p: any) => ({
  name: p.name,
  description: p.description,
  imageUrl: p.imageurl?.url,
  cleaningCapacity: p.cleaningcap,
  width: p.width,
  autonomy: p.autonomy,
  tabImageUrl: p.tabImage?.url,
}));
---

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    position: relative;
    top: -53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 32px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .flyer {
    width: 100%;
    background-color: rgba(234, 0, 41, 1);
  }

  .row {
    padding-block: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 16px;
    margin: 0 auto;
  }

  .row .title {
    height: auto;
    color: #fff;
  }

  .row button {
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px;
  }

  .container.here {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (max-width: 768px) {
    .flyer button {
      display: none;
    }
  }
</style>
<Layout>
  <div class="flyer">
    <div class="row">
      <div class="title">Richiedi una consulenza personalizzata</div>
      <button>Compila il form</button>
      <button>800480110</button>
    </div>
  </div>

  <!-- <pre>{JSON.stringify(json, null, 2)}</pre> -->
  <Hero data={data} navlinks={navlinks} client:load />
  <ProductShowcase products={products} client:load />
</Layout>
