.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  /* background: rgba(0, 0, 0, 0.5);  */
  color: white;
  text-align: center;
  /* font-size: 2rem; */
  /* font-weight: bold; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 1000;
}

.nav-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  max-width: 120px;
  height: auto;
}

.logo img {
  width: 100%;
}

.hero-nav ul {
  /* max-width: 400px; */
  width: fit-content;
  list-style: none;
  display: flex;
  gap: 24px;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  /* padding-inline: 50px; */
  margin: 0 auto;
  padding-top: 172px;

  color: white;
}

.dark {
  background-color: #1a1a1a;
  border-radius: 6px;
  /* max-width: 400px; */
  height: 250px;
  width: 100%;
  height: auto;
}

.navlink.btn {
  color: black;
  background-color: white;
  padding: 16px 24px;
  border-radius: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 80px 0;
}

.col.down {
  justify-content: end;
  align-items: end;
}

a.navlink {
  text-decoration: none;
  color: white;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hero-description h1 {
  font-size: clamp(32px, 5vw, 62px);
}

.hero-description button {
  width: auto;
  border: 0;
}

.hero-description p {
  width: 302px;
  line-height: 1.2;
}

.hero-description a {
  text-decoration: none;
  color: rgba(58, 73, 74, 1);
  background-color: white;
  padding: 24px 32px;
  width: max-content;
  border-radius: 20px;
}

.navlinks {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.navlink {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #ccc;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1400px) {
  main {
    padding: 182px 2rem 0;
    flex-direction: column;
    gap: 2rem;
  }

  .hero-description {
    width: 50%;
  }
  .col {
    padding: 0;
  }
}

@media (max-width: 720px) {
  .hamburger {
    display: block;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  .hero-nav {
    padding: 1rem 20px;
  }

  .hero-nav ul {
    width: 100%;
  }

  .navlinks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
    pointer-events: none;
    z-index: 999;
    /* clip-path: circle(0px at 50% 50%);
    -webkit-clip-path: circle(0px at 50% 50%); */
  }

  .navlinks.open {
    transform: scaleY(1);
    pointer-events: all;

    /* clip-path: circle(150% at 50% 50%);
    -webkit-clip-path: circle(150% at 50% 50%);
    width: 100%; */
  }

  .navlinks li {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
  }

  .navlinks.open li {
    opacity: 1;
    transform: translateY(0);
  }

  .navlinks.open li:nth-child(1) {
    transition-delay: 0.3s;
  }
  .navlinks.open li:nth-child(2) {
    transition-delay: 0.4s;
  }
  .navlinks.open li:nth-child(3) {
    transition-delay: 0.5s;
  }
  .navlinks.open li:nth-child(4) {
    transition-delay: 0.6s;
  }
  .navlinks.open li:nth-child(5) {
    transition-delay: 0.7s;
  }

  .navlink.btn {
    color: rgb(255, 255, 255);
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }

  .navlinks.no-transition {
    transition: none !important;
  }

  .navlinks.no-transition li {
    transition: none !important;
  }

  main {
    padding: 114px 20px 0;
    gap: 2rem;
  }

  .hero-description {
    gap: 30px;
    width: 100%;
  }

  .hero-description a {
    padding: 16px 32px;
  }
  /* ul.navlinks {
    display: none;
  } */
  .col {
    padding: 0;
  }
  .col.down {
    width: 100%;
    max-width: 100%;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
}
